@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	margin: 0;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#333333;
	background-color: #F7F7F7;
}

.body{
	width: 100vw;
  	height: 100vh;
}

.header{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	width: 100%;
	height: 84px;
	background-color: #F7F7F7;
	align-items: center;
}

.logo{
	display: flex;
	width: 103px;
	justify-self: center;
}


.nav {
  	justify-self: end;
	display: flex;
	flex-direction: row;
}

.nav a {
  	margin-left: 20px;
  	text-decoration: none;
	font-size: 18px;
	color:#333333;
	margin: 0px 20px;
}

.nav a:hover{
	color: red;
	cursor: pointer;
}

/* Início Homepage*/

.banner{
	
	width: 100%;
	height: 863px;
	
	display: flex;
  	justify-content: center; 
  	align-items: center;  
	
	background-size: cover;      
 	background-position: center; 
  	background-repeat: no-repeat;
	
	animation: bannerSlider 20s infinite;
}

@keyframes bannerSlider {
	0%, 20%{
		background-image: url("imagens/banner1.jpg");
	}
	20.01%, 40% {
		background-image: url("imagens/banner2.jpg");
	}
	40.01%, 60% {
		background-image: url("imagens/banner3.jpg");
	}
	60.01%, 80% {
		background-image: url("imagens/banner4.jpg");
	}
	80.01%, 100% {
		background-image:url("imagens/banner5.jpg");
	}
}

.botaobanner{
	display: flex;
	flex-direction: row;
	
	width: 150px;
	height: 45px;
	
	background-image: url("https://transparenttextures.com/patterns/starring.png");
	background-color: #F7F7F7;
	opacity: 0.9;
	
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	
	font-weight: bolder;
	font-size: 24px;
	
	cursor: pointer; 
	text-decoration: none; 
	color:#333333;
}

.botaobanner:hover{
	opacity: 1;
	mix-blend-mode: difference;
}

/*Fim Homepage*/

/*Início Catálogo*/

.h2{
	width: 100%;
	text-align:center; 
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 20px;
}

.container a{
	text-decoration: none;
	color: #333333;
}

.img-hover {
  position: relative;
  width: 340px;
	margin: 20px 30px;
}

.img-hover img {
  width: 100%;
  display: block;
}

.img-hovered {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.img-hover:hover .img-hovered {
  opacity: 1;
}

/*Fim Catálogo*/

/*Início Produto*/

.pagina{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	overflow: visible;
}

.selecao{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 730px;
	margin: 35px 100px;
}

.zoom-img {
    width: 345px;
    margin: 10px;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.zoom-img.zoomed {
    transform: scale(1.8);
    cursor: zoom-out;
    z-index: 10;
}

.info{
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 350px;
	position: sticky;
    top: 64px; 
	margin-top: 170px;
}

#tamanho {
    width: 210px;             
    font-size: 17px;          
    padding: 8px 12px;        
    margin-top: 20px;
    
    border: 1px solid #ccc;   
    
    background-color: #fff;   
    color: #333;              
    
    
    cursor: pointer;
    outline: none;
    
    transition: all 0.2s ease;
}

#tamanho:focus {
    border-color: red;
}

.buttoncart{
	width: 210px;             
    font-size: 17px;          
    padding: 8px 12px;        
    margin-top: 80px;
    
    border: 1px solid #ccc;   
    
    background-color: #fff;   
    color: #333;              
    font-weight: bold;
    
    cursor: pointer;
    outline: none;
	
	background-image: url("https://transparenttextures.com/patterns/starring.png");
}

.sugestoes{
	display: flex;
	flex-direction: row;
	margin: 20px 180px;
}

.sugestoes a{
	text-decoration: none;
	color: #333333;
}

/*Fim Produto*/

/*Início Carrinho*/

.carrinho{
	display: flex;
	flex-direction: row;
}


/*Fim Carrinho*/

.footer{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	width: 100%;
	height: 80px;
	background-color: #F7F7F7;
	align-items: center;
	justify-items: center; 
	
}

.footer1 {
  	grid-column: 2;
  	justify-self: end;   
  	line-height: 1.6;
  	font-size: 14px;
	text-align: right;
	color: inherit;
}

.footer1 a{
	text-decoration: none;
	color:#333333;
}

.footer1 a:hover{
	color: red;
	cursor: pointer;
}

.logo1 {
  	grid-column: 3;
  	justify-self: center;
  	width: 90px;
  	display: flex;
  	justify-content: center;
}

.footer2 {
  	grid-column: 4;
  	justify-self: start; 
  	line-height: 1.6;
  	font-size: 14px;
}

.footer2 a{
	text-decoration: none;
	color:#333333;
}

.footer2 a:hover{
	color: red;
	cursor: pointer;
}



